<mat-card>
    <mat-calendar id="firstCalendarView" #firstCalendarView [startAt]="firstCalendarViewData.startDate"
        [selected]="selectedDates" (selectedChange)="updateDateRangeSelection($event)" [minDate]="minDate"
        [maxDate]="maxDate">
    </mat-calendar>

    <mat-calendar id="secondCalendarView" #secondCalendarView  [startAt]="secondCalendarViewData.startDate"
        [selected]="selectedDates" (selectedChange)="updateDateRangeSelection($event)" [minDate]="minDate"
        [maxDate]="maxDate">
    </mat-calendar>
</mat-card>

<p>Selected Range: {{ selectedDates?.start | date }} - {{ selectedDates?.end | date }}</p>